<div *ngIf="userLoggedIn">
  <table mat-table [dataSource]="dataSource" class="portfolio-table mat-elevation-z7">
    <ng-container matColumnDef="asset">
      <th class="portfolio-table-header" mat-header-cell *matHeaderCellDef> Asset </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.asset}}</td>
    </ng-container>
    <ng-container matColumnDef="symbol">
      <th class="portfolio-table-header" mat-header-cell *matHeaderCellDef> Ticker </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.symbol}} </td>
    </ng-container>
    <ng-container matColumnDef="amountOwned">
      <th class="portfolio-table-header" mat-header-cell *matHeaderCellDef> Amount owned </th>
      <td mat-cell *matCellDef="let portfolio"> ${{portfolio.amountOwned}} </td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th class="portfolio-table-header" mat-header-cell *matHeaderCellDef> {{convert}} Value </th>
      <td mat-cell *matCellDef="let portfolio"> ${{portfolio.value}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th class="portfolio-table-header" mat-header-cell *matHeaderCellDef> Price</th>
      <td mat-cell *matCellDef="let portfolio"> ${{portfolio.price}} </td>
    </ng-container>
    <ng-container matColumnDef="percentChange1h">
      <th class="portfolio-table-header" mat-header-cell *matHeaderCellDef> 1h</th>
      <td mat-cell [ngClass]="{
        'percentage-change-increase ': portfolio.percentChange1h >= 0,
        'percentage-change-decrease': portfolio.percentChange1h < 0
      }" *matCellDef="let portfolio"> {{portfolio.percentChange1h}}% </td>
    </ng-container>
    <ng-container matColumnDef="percentChange24h">
      <th class="portfolio-table-header" mat-header-cell *matHeaderCellDef> 24h</th>
      <td mat-cell [ngClass]="{
        'percentage-change-increase ': portfolio.percentChange24h >= 0,
        'percentage-change-decrease': portfolio.percentChange24h < 0
      }" *matCellDef="let portfolio"> {{portfolio.percentChange24h}}% </td>
    </ng-container>
    <ng-container matColumnDef="percentchange7d">
      <th class="portfolio-table-header" mat-header-cell *matHeaderCellDef> 7d</th>
      <td mat-cell [ngClass]="{
        'percentage-change-increase ': portfolio.percentchange7d >= 0,
        'percentage-change-decrease': portfolio.percentchange7d < 0
      }" *matCellDef="let portfolio"> {{portfolio.percentchange7d}}% </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="portfolio-paginator" [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div>
<div *ngIf="!userLoggedIn" class="portfolio-login-text">
  <span>Please </span> <span class="portfolio-login-link-text" (click)="login()">login</span> <span> to see your
    portfolio or </span> <span class="portfolio-login-link-text" routerLink="/signup">create an
    account</span>
</div>
