@import "..\..\styles\_colors.less";

.portfolio-table {
  width: 75%;
  margin: 1rem 1rem 0.2rem 10rem;

  .portfolio-table-header {
    color: @app-primary-minor;
    font-weight: bolder;
    font-size: 14px;
  }
}

.portfolio-paginator {
  width: 75%;
  margin: 0.2rem 1rem 0.2rem 10rem;
}

.percentage-change-increase {
  color: @app-primary-increase
}

.percentage-change-decrease {
  color: @app-primary-decrease
}

.portfolio-login-text {
  font-weight: normal;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .portfolio-login-link-text {
    cursor: pointer;
    color: @app-secondary-major;
    align-items: center;
  }
}
