@import "..\..\styles\_colors.less";

.predictions-table {
  width: 95%;
  margin: 0.2rem 1rem 0.2rem 2rem;

  .predictions-table-header {
    font-size: medium;
  }
}

.predictions-paginator {
  width: 95%;
  margin: 0.2rem 1rem 0.2rem 2rem;
}

.percentage-change-increase {
  color: @app-primary-increase
}

.percentage-change-decrease {
  color: @app-primary-decrease
}
