@import "..\..\styles\_colors.less";

.app-settings-page {
  display: flex;
  margin: 2rem auto;
  width: 50%;
  max-height: 75%;

  .app-settings-page-content {
    margin: 2rem 1.75rem;
    width: 100%;

    .app-settings-asset-label {
      margin: 1rem;
      display: block;
      font-size: medium;
      color: @app-secondary-major;
    }

    .app-settings-new {
      margin: 0.1rem 1rem;
    }

    .app-settings-new-add-button {
      margin: 0.1rem;
    }


    .app-settings-page-assets-table {
      width: 50%;
      margin: 1rem;
    }

    .app-settings-page-assets-table-paginator {
      width: 50%;
      margin: 1rem;
    }

    .app-settings-page-submit-button {
      margin: 1rem 1rem;
      float: right;
    }

  }

}

.app-settings-page-login-text {
  font-weight: normal;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .app-settings-page-login-link-text {
    cursor: pointer;
    color: @app-secondary-major;
    align-items: center;
  }
}
