<div class="app-navigation-bar">
  <div *ngIf="!isActiveTabNone()" class="app-navigation-bar-tab-icon" matRipple>
    <img src="{{getCurrentTabImage()}}" title="{{getCurrentActiveTab()}}" />
  </div>
  <nav mat-tab-nav-bar class="app-navigation-bar-tabs" mat-align-tabs="center">
    <a mat-tab-link *ngFor="let tab of items" routerLink="{{tab.routerLink}}" title="{{tab.title}}"
      [active]="isActive(tab.title)">
      {{tab.label}}
    </a>
  </nav>
  <mat-form-field class="app-navigation-bar-currency">
    <mat-label>Currency</mat-label>
    <mat-select [(value)]="selectedCurrency">
      <mat-option *ngFor="let currency of currencyList" value="{{currency.currencyCode}}"> {{currency.currencyCode}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div [matMenuTriggerFor]="menu" class="app-navigation-bar-user-icon-container" matRipple>
    <img class="app-navigation-bar-user-icon" src="https://img.icons8.com/fluent/48/000000/user-male-circle.png" />
  </div>
  <mat-menu #menu="matMenu">
    <button class="app-navigation-menu-item" routerLink='/settings' *ngIf="userLoggedIn" mat-menu-item>
      <span class="app-navigation-menu-item-content">Settings</span>
    </button>
    <button class="app-navigation-menu-item" (click)="openLoginLogoutDialog()" mat-menu-item>
      <span class="app-navigation-menu-item-content">{{userLoggedIn ? 'Logout' : 'Login' }}</span>
    </button>
  </mat-menu>
</div>
<app-header-info></app-header-info>
<router-outlet></router-outlet>
